.review {
  color: var(--color-coral-100);
}
.customers-review {
  position: absolute;
  top: 130px;
  left: 320px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-abeezee);
  mix-blend-mode: normal;
}
.desktop-1-child19 {
  position: absolute;
  top: 398px;
  left: 9px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 448px;
  height: 535px;
}
.john-deo {
  position: absolute;
  top: 780px;
  left: 148px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.consectetur-adipisicing-elitu {
  margin: 0;
}
.tempore-quasi-tenetur {
  margin: 0;
  white-space: pre-wrap;
}
.lorem-ipsum-dolor-container3 {
  position: absolute;
  top: 623px;
  left: 51px;
  display: inline-block;
  width: 364px;
  height: 107px;
}
.desktop-1-child20 {
  position: absolute;
  top: 398px;
  left: calc(50% - 224px);
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 448px;
  height: 535px;
}
.pic-3-1-icon {
  position: absolute;
  top: 434px;
  left: 637px;
  width: 127px;
  height: 125px;
  object-fit: cover;
}
.desktop-1-child21 {
  position: absolute;
  top: 398px;
  left: 976px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 448px;
  height: 535px;
}
.tokyo {
  position: absolute;
  top: 767px;
  left: 1169px;
  font-size: var(--font-size-17xl);
}
.pic-4-1-icon {
  position: absolute;
  top: 434px;
  left: 1161px;
  width: 114px;
  height: 126px;
  object-fit: cover;
}
.lorem-ipsum-dolor-container4 {
  position: absolute;
  top: 617px;
  left: 545px;
}
.lorem-ipsum-dolor-container5 {
  position: absolute;
  top: 614px;
  left: 1043px;
}
.pic-1-1-icon {
  position: absolute;
  top: 434px;
  left: calc(50% - 559px);
  width: 118px;
  height: 126px;
  object-fit: cover;
}
.image-1-icon2,
.image-2-icon2 {
  position: absolute;
  top: 730px;
  left: 63px;
  width: 341px;
  height: 251px;
  object-fit: cover;
}
.image-2-icon2 {
  left: 545px;
}
.bob-deo {
  position: absolute;
  top: 774px;
  left: 627px;
  font-size: var(--font-size-17xl);
}
.image-3-icon1 {
  position: absolute;
  top: 724px;
  left: 1043px;
  width: 341px;
  height: 251px;
  object-fit: cover;
}
.desktop-14 {
  background-color: var(--color-white);
  overflow: hidden;
}
.desktop-1-wrapper1,
.desktop-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.desktop-7 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-istok-web);
}
