.banner-bg-1-icon {
  position: absolute;
  top: 228px;
  left: calc(50% - 720px);
  width: 1436px;
  height: 498px;
  object-fit: cover;
}
.fresh-and {
  color: var(--color-black);
}
.organic {
  color: var(--color-coral-200);
}
.fresh-and-organic {
  font-weight: 800;
}
.fresh-and-organic-products-for {
  margin: 0;
}
.lorem-ipsum-dolor-sit-amet-con {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.desktop-1-child,
.fresh-and-organic-products-for-container {
  position: absolute;
  top: 428px;
  left: calc(50% - 428px);
}
.desktop-1-child {
  top: 640px;
  left: calc(50% - 153px);
  border-radius: var(--br-xl);
  background-color: rgba(0, 0, 0, 0.13);
  width: 306px;
  height: 70px;
}
.shop-now {
  position: absolute;
  top: 651px;
  left: calc(50% - 100px);
  font-weight: 500;
}
.desktop-1-item {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-snow);
  width: 1434px;
  height: 228px;
}
.desktop-1-inner {
  position: absolute;
  top: 80px;
  left: 46px;
  width: 85px;
  height: 75px;
  object-fit: cover;
}
.zaykaa {
  position: absolute;
  top: 76px;
  left: 189px;
  font-size: var(--font-size-45xl);
  font-weight: 800;
}
.rectangle-div {
  position: absolute;
  top: 85px;
  right: 44px;
  background-color: var(--color-snow);
  width: 918px;
  height: 58px;
}
.home {
  font-weight: 500;
  white-space: pre-wrap;
}
.home-feature-products-container {
  position: absolute;
  top: 103px;
  left: 469px;
  font-size: var(--font-size-13xl);
}
.ellipse-div {
  position: absolute;
  top: 85px;
  left: 1379px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 51px;
  height: 58px;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-1-icon {
  top: 94px;
  left: 1384px;
  cursor: pointer;
}
.image-2-icon {
  top: 98px;
  left: 1328px;
}
.desktop-1 {
  background-color: var(--color-gray-100);
  overflow: hidden;
}
.desktop-1,
.desktop-1-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 730px;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 730px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
